

@font-face {
    font-family: 'modelo';
    src: url('BebasNeue-Regular.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') ;
    
}
:root{
    --cor1: #EBE5C5;
    --cor2: #43d886;
    --cor3: #228850;
    --cor4: #69fcab;
    --cor5: #063D1E;
    --cor6: #32b96f;
    --cor7:#83E1AD;
    --cor8: #051601;
    --fonte-padrao: 'modelo';
    --fonte-destaque: 'idroid';
    
    


}

body{
margin: -4%;
background-color:var(--cor1);
width: auto;
margin-left: -20px;

}



header > h1{
font-size: 40px;
text-align: center;
padding-top: 10px;
color: rgb(245, 245, 245);
font-family:var(--fonte-padrao);
margin-top: 2px;
}

p{
    text-align: justify;
}

header{
background-image: linear-gradient(179deg,hsl(147, 60%, 33%),#051601);
padding: 60px;

}
section {
color: var(--cor1);
font-family: sans-serif;
font-size: 17px;
}
nav{
background-color: #010a05;
padding-bottom: 10px;
padding-left: 10px;

}
nav > a {
margin-right: 10px;
color: var(--cor2);
text-decoration: none;
font-weight: bold;
font-family: sans-serif;
padding: 10px;


}
header p {
    color: aliceblue;
}
p{
text-align: center;


}
nav > a:hover{
 width: 20px;
 height: 20px;
 background-color: var(--cor3);
 color: black;
 border-radius: 10px ;
 padding: 10px;
 transition-duration: 1s;
}
main h1{
font-family: var(--fonte-destaque);
padding-right: 169px;
padding-left: 20px;
margin-right: 250px;
font-size: 28px;

}
main{
background-color: aliceblue;
min-width: 236px;
max-width: 800px;
width: 100%;
height: 100%;
margin: auto;
border-radius: 5px;
padding: 10px 0px 0px 0px;
box-shadow: 0px -6px 5px 1px rgb(0 0 0 / 59%);


}
img{
    width: 100%;
}

article{
    margin-left: 20px;
    
}
main  p{
text-indent: 30px;
text-align: justify;
padding: 10px 20px 0px 20px;
}
main  h2{
font-family: var(--fonte-destaque);
padding-left: 20px;
color: #063D1E;
}

main h2{
background-image: linear-gradient(50deg,#69fcab,#ffffff);
font-family: var(--fonte-destaque);

}





.pborda > a{
box-shadow: 2px 2px 2px;
background-color:var(--cor7) ;
font-weight: bold;
text-decoration: none;
border-radius: 1px;
padding: 2px;
color: var(--cor8);
}
.borda3{
background-image: linear-gradient(50deg,#69fcab,#ffffff);
font-family: var(--fonte-padrao);
}
p >a {
background-color: var(--cor7) ;
font-weight: bold;
color: #051601;
text-decoration: none;
border-radius: 1px;
padding: 2px;
}
#bugdroid{
margin: auto;
display: block;
}
.video{
    width: 700px;
    padding-left: 100px;
}
.certo{


}
.rodape{
background-color: #32b96f;
border-radius: 10px;
padding-bottom: 20px;

}
.rodape > h2{
background-color: #063D1E;
color: black;
padding: 10px;
border-radius: 10px 0px 0px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}
.indentacao{
text-indent: 20px;
padding: 8px;
}

.pp{
text-indent: 20px;
padding: 8px;
}
.pp2{
text-indent: 20px;
padding: 8px;
}
footer{
padding-top: 20px;
padding-left: 31px;
text-align: center;
}
.lista2 > ul{
columns: 2;
list-style-type: '\✔️\00a0';
/*list-style-position: inside;*/
}


.embed-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
max-width: 100%;
height: auto;
margin-top: 30px;
margin-bottom: 30px;
}
.embed-container > iframe{
position: absolute;
top: 0;
left: -100px;
width: 100%;
height: 100%;
}

.externall::after{
content: '\✔️\00a0';
}

